{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% form_theme generalForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}
  {{ form_start(generalForm) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">videocam</i> {{ 'Video Banner Settings'|trans({}, 'Modules.Awvideobanner.Admin') }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">

        {% if currentVideoUrl %}
          <div class="form-group row">
            <label class="form-control-label col-sm-2">
              {{ 'Current video'|trans({}, 'Modules.Awvideobanner.Admin') }}
            </label>
            <div class="col-sm-8">
              <video src="{{ currentVideoUrl }}" controls style="max-width:100%;max-height:270px;"></video>
            </div>
          </div>
        {% endif %}

        {{ form_widget(generalForm) }}

      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" id="save-button">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>
  </div>
  {{ form_end(generalForm) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('../modules/awvideobanner/views/css/admin/form.css') }}">
{% endblock %}

